<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Jorge Sandoval Flores(jorge@quebuu.com) on 30/04/18 04:38 PM
  ~  * Copyright (c) 2018 . All rights reserved.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quebuu.architecture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".QuebuuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.signin.SigninActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1f44f314eb10b683718d3fb02f4569fb27454ea3" />

    </application>

</manifest>